In [1]:
import pandas as pd

In [8]:
expected_df = pd.read_csv('Expected_Rewards.csv')
wheel = 'March_Wheel'
# expected_df = expected_df[wheel]
expected_df

    Holiday_Wheel  New_Year_Wheel  February_Wheel  March_Wheel
0          0.0100          0.0100          0.0400          NaN
1             NaN             NaN          0.1679     0.067899
2             NaN             NaN          0.0500          NaN
3          0.1750          0.1750             NaN          NaN
4             NaN             NaN             NaN     0.070000
5             NaN             NaN             NaN     0.060000
6          0.1750          0.1750             NaN     0.060000
7             NaN             NaN             NaN     0.080000
8             NaN          0.0700             NaN          NaN
9          0.1699          0.1699          0.0500     0.080000
10            NaN             NaN          0.0500     0.080000
11            NaN             NaN          0.0500     0.120000
12         0.1750          0.1750          0.1250     0.140000
13         0.1750          0.1750          0.1750     0.120000
14            NaN             NaN          0.1000     0.050000
15            NaN             NaN          0.0500     0.040000
16         0.0500          0.0500          0.0500     0.030000
17            NaN             NaN          0.0100          NaN
18            NaN             NaN             NaN          NaN
19            NaN             NaN          0.0750          NaN
20         0.9299          0.9999          0.9929          NaN